asgiref==3.7.1
certifi==2023.5.7
distlib==0.3.6
dj-database-url==2.1.0
Django==4.2.1
django-filter==23.2
filelock==3.9.0
gunicorn==21.2.0
packaging==23.1
pbr==5.11.1
Pillow==10.0.0
pipenv==2023.5.19
platformdirs==2.6.2
psycopg2-binary==2.9.7
sqlparse==0.4.4
stevedore==4.1.1
typing_extensions==4.8.0
tzdata==2023.3
virtualenv==20.17.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
whitenoise==6.5.0
